/* TODO fix design in menu */
iron-pages {
    height: 100%;
}


.background-color-primary {
    background: #004358;
}
.background-color-secondary {
    background-color: #3F51B5;
    color: white;
}
.background-color-tertiar {
    background-color: #2196F3;
    color: white;
}
.background-color-alternative-primary {
    background-color: #FF2700;
}
.background-color-alternative-secondary {
    background-color: #BE10FD;
}
/*
html {
    height: 100%;
}
*/
body {
  /*  height: 100%;*/
    margin: 0;
}

paper-drawer-panel #scrim {
    z-index: 91;
}

paper-drawer-panel #drawer {
    z-index: 92;
}

paper-fab.menu {
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 10px;
}

paper-fab.add-setup {
    margin-top: 10px;
}

database-visualizer-database {
    cursor: -webkit-grab;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

paper-tabs {
    /*background: #ff4081;*/
    background: #03a9f4;
}

database-visualizer-menu paper-input {
    padding-left: 10px;
    padding-right: 10px;
}

database-visualizer-menu paper-spinner-lite {
    margin-top: 20px;
    position: absolute !important;
    left: 50%;
    margin-left: -14px;
}

.loading paper-spinner-lite {
    position: absolute !important;
    left: 50%;
    top: 50%;
    margin-left: -14px;
    margin-top: -14px;
}

database-visualizer-database h1 {
    color: #DCDCDC;
    padding: 15px;
    margin: 0;
    position: absolute;
    bottom: 0px;
    right: 0px;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

database-visualizer-database .empty {
    margin: 0;
    left: 50%;
    top: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-size: 50px;
    color: #DCDCDC;
    padding: 15px;
    margin: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

database-visualizer-database .loading {
    background: rgba(255,255,255,0.5);
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 92;
}

database-visualizer-menu {
    display: block;
}
/*
database-visualizer-menu > paper-menu {
    height: 100%;
    box-sizing: border-box;
}
*/
.hidden {
    visibility: hidden;
}

paper-menu.scrollable {
    height: 100%;
    overflow-x: scroll;
}


database-schema,
database-table {
    display: inline-block;
    box-sizing: border-box;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    background: white;
    cursor: move;
}

database-schema.ui-resizable,
database-table {
    position: absolute;
}

database-schema .ui-resizable-handle {
   /* background: black; */
    width: 30px;
    height: 30px;
}
database-schema .ui-resizable-handle {
    visibility: hidden;
}

database-schema.draggable .ui-resizable-handle {
    visibility: visible;
}

database-schema .ui-resizable-handle:before {
    font-family: 'FontAwesome';
    font-size: 24px;
    padding: 4px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    display: inline-block;
}

database-schema .ui-resizable-handle.ui-resizable-ne:before {
    content: "\f062";
    color: white;
    padding-top: 6px;
    padding-left: 4px;
}
database-schema .ui-resizable-handle.ui-resizable-se {
    right: -5px;
    bottom: -5px;
    background-image: none;
    text-indent: 0;
}
database-schema .ui-resizable-handle.ui-resizable-se:before {
    content: "\f061";
    color: #004358;
    padding-left: 5px;
    padding-top: 3px;
}
database-schema .ui-resizable-handle.ui-resizable-sw:before {
    content: "\f063";
    color: #004358;
    padding-left: 5px;
    padding-top: 3px;
}
database-schema .ui-resizable-handle.ui-resizable-nw:before {
    content: "\f060";
    color: white;
    padding-top: 4px;
    padding-left: 7px;
}

svg {
    overflow: visible;
    left: 0;
    top: 0;
    width: 1px;
    height: 1px;
    position: absolute;
}

database-constraint {
    padding: 5px;
    display: block;
    text-align: center;
}

database-constraint:hover {
    background: #7ec699;
}

database-table {
    width: auto !important;
    height: auto !important;
}

database-table .database-visualizer-div-body {
    display: table;
    width: 100%;
}

.database-visualizer-div-header {
    padding: 10px 24px;
    line-height: 56px;
    font-size: 12px;
    font-weight: 500;
    border-bottom: 1px solid #e5e5e5;
}

.database-visualizer-div-body {
    background: white;
}

.database-visualizer-div-footer {
    border-top: #aaaaaa 4px double;
}

.database-visualizer-div-header h2 {
    margin: 0;
    font-size: 72px;
    line-height: 2em;
    color: white;
    text-align: center;
}

.database-visualizer-div-header h3 {
    margin: 0;
    font-size: 24px;
    line-height: 2em;
    text-align: center;
}
/*
database-table .database-table {
    display: table;
    width: auto;
}
*/



.database-visualizer-canvas {
    position: absolute;
    cursor: -webkit-grab;
    font-size: 14px;
    line-height: 20px;
    overflow-x: visible;
    overflow-y: visible;
    width: 50px;
    height: 50px;
}

.cursor-webkit-grabbing {
    cursor: -webkit-grabbing !important;
}

#minimap {
    position: absolute;
    border-radius: 3px;
    background: white;
    overflow: hidden;
    width: 150px;
    height: 150px;
    top: 30px;
    right: 30px;
    z-index: 91;
    border: #ECECEC 1px solid;
    cursor: initial;
}

#minimap .visible-area {
    position: absolute;
    background: rgba(255,100,100,0.4);
    cursor: -webkit-grab;
    z-index: 92;
}

#minimap .schema,
#minimap .table {
    background: rgba(0,0,100,0.2);
    position: absolute;
}